.home-market-data-section{
    background-color: rgb(224 242 254);
    height: 75vh;
}
.home-market-data-nav{
    /* background-color: rgb(101 163 13); */
    border-radius: 10px;
    margin-top: -20px;
}
.home-market-data-nav-container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    /* border: 1px solid red; */
    height: 80px;
}
.home-market-data-nav-ui{
    line-height: 50px;
}
.home-market-data-nav-ui > p{
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px;
    cursor: pointer;
    transition: .2s;
}
.home-market-data-nav-ui > p:hover{
    border-bottom: 5px solid rgb(157, 147, 147);
    border-radius: 2px;
    border-color: seagreen;
    color: seagreen;
}